@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 12vw; }
  .nav__logo {
    height: 60px;
    width: auto; }
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .nav__menu--item {
      font-size: 1.7rem;
      letter-spacing: 0px;
      color: #111111;
      font-weight: 400;
      font-family: "Work Sans", sans-serif;
      text-align: right;
      padding: 0 10px; }
      .nav__menu--item:hover {
        color: #00458f; }

.header {
  height: calc(100vh - 100px);
  position: relative;
  min-height: 600px; }
  .header__arrows {
    position: relative;
    top: calc(50% - 50px); }
  .header__arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80px;
    height: 81px;
    position: absolute;
    color: #00458f;
    z-index: 10;
    cursor: pointer; }
    .header__arrow--left {
      left: 0; }
    .header__arrow--right {
      right: 0; }
  .header__slider {
    height: 100%;
    max-height: 600px; }
  .header__item {
    height: calc(100vh - 100px) !important;
    min-height: 600px !important;
    outline: none !important; }
    .header__item--skyscraper {
      background: url("../assets/img/skyscraper.png") !important; }
    .header__item--office {
      background: url("../assets/img/hohyeong-lee-e0uCDHd19U4-unsplash (1).jpg") !important; }
    .header__item--architecture {
      background: url("../assets/img/lance-anderson-QdAAasrZhdk-unsplash (1).jpg") !important; }
    .header__item--office, .header__item--skyscraper, .header__item--architecture {
      background-attachment: fixed;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: center !important; }
  .header__textbox {
    width: 50vw;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #00458fda;
    position: relative;
    top: calc(70% - 50px);
    color: #ffffff; }
  .header__title {
    width: calc(100%-12vw);
    margin: 0 0rem 2rem 12vw;
    font-size: 3rem; }
  .header__text {
    font-size: 2rem;
    margin: 1rem 0 2rem 12vw; }
  @media (max-width: 996px) {
    .header {
      min-height: 400px; }
      .header__item {
        min-height: 400px !important; }
        .header__item .header__textbox {
          height: 100px; }
          .header__item .header__textbox .header__title {
            font-size: 2rem;
            margin-bottom: 0.5rem; }
          .header__item .header__textbox .header__text {
            font-size: 1.5rem;
            margin-bottom: 1rem; }
      .header__arrow {
        width: 50px;
        height: 51px; }
        .header__arrow .fa-5x {
          font-size: 3em; } }

.info {
  margin: 9rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 70vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 12vw;
  min-height: 500px; }
  .info__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    height: inherit;
    min-height: 500px; }
    .info__container .info__header-container {
      width: 100%;
      padding-left: 12vw;
      height: 20%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .info__container .info__header-container .info__header {
        font-size: 4rem; }
    .info__container .info__textbox {
      height: 80%;
      background-color: #f7f7f7; }
      .info__container .info__textbox .info__title {
        margin: 25px 10px 0 12vw;
        font-size: 2.4rem; }
        .info__container .info__textbox .info__title::after {
          content: "";
          display: block;
          width: 30px;
          height: 3px;
          background-color: black; }
      .info__container .info__textbox .info__text {
        margin: 30px 80px 45px 12vw;
        font-size: 1.5rem;
        color: #808080; }
      .info__container .info__textbox .info__btn {
        background: #f7f7f7;
        color: #00458f;
        border: #00458f 2px solid;
        margin-left: 12vw;
        font-size: 15px;
        padding: 10px 40px; }
  .info__img {
    background-image: url(../assets/img/house-info-3.jpg);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 50%;
    height: 100%; }
  @media (max-width: 996px) {
    .info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 5vw;
      height: 1000px; }
      .info__container {
        width: 90%; }
        .info__container .info__header-container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 0px; }
        .info__container .info__textbox .info__btn {
          display: block;
          width: 200px;
          margin: 0px auto; }
      .info__img {
        width: 90%;
        height: 100%; } }

.projects {
  width: 100%;
  height: 70vh;
  min-height: 500px;
  margin: 5rem 0 20rem; }
  .projects__header {
    font-weight: 700;
    font-size: 40px;
    color: #111111;
    margin: 0 0 5rem 12vw; }
  .projects__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 60%; }
    .projects__info .projects__textbox {
      width: 50%;
      margin-left: 12vw !important; }
      .projects__info .projects__textbox .projects__icon {
        height: 81px;
        width: 80px; }
        .projects__info .projects__textbox .projects__icon--house {
          background-image: url(../assets/img/icon-1-blue.png); }
      .projects__info .projects__textbox .projects__title {
        padding: 2rem 0;
        font-size: 2.4rem;
        color: #00458f;
        font-weight: 700; }
      .projects__info .projects__textbox .projects__text {
        font-size: 1.5rem;
        line-height: 2.2rem;
        color: #888888;
        padding: 0 2rem 3rem 0; }
    .projects__info .projects__menu {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 100%; }
      .projects__info .projects__menu .projects__menu-item {
        padding: 2rem 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .projects__info .projects__menu .projects__menu-item::before {
          content: "";
          width: 5px;
          padding: 2rem 0;
          background-color: #cccccc;
          height: 100%; }
        .projects__info .projects__menu .projects__menu-item .projects__icon {
          height: 50px;
          width: 51px;
          margin-left: 1.5rem;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          padding-left: 1.5rem; }
          .projects__info .projects__menu .projects__menu-item .projects__icon--house {
            background-image: url(../assets/img/icon-1-gray.png); }
          .projects__info .projects__menu .projects__menu-item .projects__icon--blueprints {
            background-image: url(../assets/img/icon-2-gray.png); }
          .projects__info .projects__menu .projects__menu-item .projects__icon--floor {
            background-image: url(../assets/img/icon-3-gray.png); }
        .projects__info .projects__menu .projects__menu-item .projects__menu-title {
          font-size: 2.2rem;
          padding-left: 1.5rem;
          color: #cecece; }
      .projects__info .projects__menu .projects__menu-item--selected {
        background: #f7f7f7; }
        .projects__info .projects__menu .projects__menu-item--selected::before {
          content: "";
          width: 5px;
          padding: 2rem 0;
          background-color: #00458f;
          height: 100%; }
        .projects__info .projects__menu .projects__menu-item--selected .projects__menu-title {
          font-size: 2.2rem;
          color: #00458f;
          font-weight: 500;
          padding-left: 1.5rem; }
        .projects__info .projects__menu .projects__menu-item--selected .projects__icon--selected-house {
          background-image: url(../assets/img/icon-1-blue.png); }
        .projects__info .projects__menu .projects__menu-item--selected .projects__icon--selected-blueprints {
          background-image: url(../assets/img/icon-2-blue.png); }
        .projects__info .projects__menu .projects__menu-item--selected .projects__icon--selected-floor {
          background-image: url(../assets/img/icon-3-blue.png); }
  .projects .gallery__container {
    height: 40%; }
  .projects .gallery {
    margin: 0 calc(12vw - 10px);
    position: relative; }
    .projects .gallery__slider {
      height: 250px; }
      .projects .gallery__slider .gallery__slide {
        width: 33%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 10px !important;
        outline: none; }
        .projects .gallery__slider .gallery__slide--1 {
          background-image: url(../assets/img/projects-house-1-min.png); }
        .projects .gallery__slider .gallery__slide--2 {
          background-image: url(../assets/img/projects-house-2-min.png); }
        .projects .gallery__slider .gallery__slide--3 {
          background-image: url(../assets/img/projects_house-3-min.png); }
        .projects .gallery__slider .gallery__slide--4 {
          background-image: url(../assets/img/house-info-1.jpg); }
        .projects .gallery__slider .gallery__slide--5 {
          background-image: url(../assets/img/house-info-2.jpg); }
  .projects .gallery__arrows {
    margin: 0 calc(12vw - 10px);
    position: relative;
    top: -120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #00458f; }
    .projects .gallery__arrows .gallery__arrow {
      background: #fff;
      padding: 0.5rem; }
    .projects .gallery__arrows .gallery__arrow--right {
      position: absolute;
      right: 0; }
    .projects .gallery__arrows .gallery_arrow--l,
    .projects .gallery__arrows .gallery_arrow--r {
      cursor: pointer; }
  @media (max-width: 996px) {
    .projects .projects__textbox {
      width: 70%; }
    .projects .projects__menu {
      width: 30%; } }

.about-us {
  height: 80vh;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10rem 12vw;
  padding-top: 5rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 76vw; }
  .about-us::before {
    content: "";
    width: 75vw;
    height: 3px;
    background-color: #00458f;
    position: absolute; }
  .about-us__img-container {
    margin-top: 5rem;
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5rem 5rem 5rem 0;
    position: relative; }
  .about-us__img {
    height: 35rem;
    width: 47rem;
    background-image: url(../assets/img/about-us-img.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    -webkit-box-shadow: 5rem 5rem #f7f7f7;
    box-shadow: 5rem 5rem #f7f7f7; }
    @media (min-width: 1400px) {
      .about-us__img {
        height: 40rem;
        width: 60rem; } }
  .about-us__textbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 13rem;
    margin-top: 5rem; }
    .about-us__textbox .about-us__title {
      font-size: 4rem;
      color: #383838;
      padding: 2rem 0; }
    .about-us__textbox .about-us__text {
      font-size: 1.5rem;
      color: #888888; }
  @media (max-width: 996px) {
    .about-us {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 700px; }
      .about-us__img-container {
        width: 100%;
        margin-top: 1rem; }
      .about-us__textbox {
        padding: 0px;
        margin-top: 1rem; }
      .about-us__title {
        text-align: center; } }

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 12vh;
  padding: 5rem 0;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  .contact-us::before {
    content: "";
    width: 75vw;
    height: 3px;
    background-color: #00458f;
    position: absolute; }
  .contact-us__logo {
    margin-top: 3rem;
    height: 100px; }
  .contact-us .contact-us__menu {
    margin-top: 3rem; }
    .contact-us .contact-us__menu .contact__title {
      font-size: 1.8rem;
      color: #111111; }
    .contact-us .contact-us__menu .contact__links {
      padding-top: 2rem;
      font-size: 1.5rem; }
      .contact-us .contact-us__menu .contact__links .contact__link {
        padding: 0.3rem 0; }
        .contact-us .contact-us__menu .contact__links .contact__link a:hover {
          color: #00458f; }

.map {
  margin: 20rem 0rem 10rem 0rem;
  position: relative;
  width: 100%; }

.form {
  position: absolute;
  height: 700px;
  width: 30%;
  z-index: 111111;
  top: -10rem;
  right: 0;
  margin-right: 12vw;
  background-color: #ffffff;
  -webkit-box-shadow: 0rem 0rem 1rem #ddd;
  box-shadow: 0rem 0rem 1rem #ddd; }
  .form__container {
    width: 70%;
    margin: 4rem auto; }
    .form__container .form__title {
      font-size: 4rem;
      color: #111111;
      margin-bottom: 1rem; }
    .form__container .form__text {
      font-size: 1.5rem;
      color: #888888; }
    .form__container .form__post {
      margin-top: 3rem;
      width: 100%;
      position: relative; }
      .form__container .form__post .form__input {
        margin: 3rem 0;
        height: 3.5rem;
        width: 100%;
        border: 1px solid #ddd;
        position: relative;
        z-index: 3; }
        .form__container .form__post .form__input-box {
          height: 100%;
          width: 100%;
          padding: 0 1rem;
          outline: none;
          border: 0 solid #fff;
          border-radius: 0px;
          resize: none;
          font-size: 1.4rem;
          color: #888;
          position: relative;
          z-index: 3;
          background: rgba(0, 0, 0, 0); }
        .form__container .form__post .form__input--textbox {
          height: 25rem;
          padding-top: 1rem; }
        .form__container .form__post .form__input .form__label {
          position: absolute;
          z-index: 1;
          font-size: 1.4rem;
          color: #888;
          top: 25%;
          margin-left: 1rem;
          opacity: 1;
          -webkit-transition: font-size 0.5s, top 0.5s, margin-left 0.5s, opacity 0.5s;
          transition: font-size 0.5s, top 0.5s, margin-left 0.5s, opacity 0.5s; }
          .form__container .form__post .form__input .form__label--textbox {
            top: 0;
            margin-top: 1rem;
            -webkit-transition: font-size 0.5s, margin-left 0.5s, top 0.5s, margin-top 0.5s;
            transition: font-size 0.5s, margin-left 0.5s, top 0.5s, margin-top 0.5s; }
            .form__container .form__post .form__input .form__label--textbox[data-resized="true"] {
              margin-top: 0.1rem; }
          .form__container .form__post .form__input .form__label[data-resized="true"] {
            font-size: 1.1rem;
            margin-left: 0.3rem;
            top: 0;
            opacity: 0.5;
            -webkit-transition: font-size 0.5s, margin-left 0.5s, top 0.5s, margin-top 0.5s;
            transition: font-size 0.5s, margin-left 0.5s, top 0.5s, margin-top 0.5s; }
      .form__container .form__post .form__button {
        text-align: center;
        width: 100%;
        background: #00458f;
        color: #ffffff;
        padding: 1rem 0;
        font-size: 1.3rem;
        border: none; }

* {
  margin: 0;
  font-size: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
p {
  font-family: "Work Sans", sans-serif; }

ul {
  padding: 0px; }

li {
  list-style: none;
  font-size: 1.5rem;
  color: #888888; }
  li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #888888; }
