@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

$font-primary: "Work Sans", sans-serif;

$color-primary: #00458f;
$color-secoundary: #111111;

$nav-height: 100px;
