.about-us {
  &::before {
    content: "";
    width: 75vw;
    height: 3px;
    background-color: $color-primary;
    position: absolute;
  }

  height: 80vh;
  min-height: 400px;
  display: flex;
  margin: 10rem 12vw;
  padding-top: 5rem;
  justify-content: space-between;
  width: 76vw;

  &__img-container {
    margin-top: 5rem;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 5rem 5rem 0;
    position: relative;
  }

  &__img {
    height: 35rem;
    width: 47rem;
    background-image: url(../assets/img/about-us-img.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    box-shadow: 5rem 5rem #f7f7f7;

    @media (min-width: 1400px) {
      height: 40rem;
      width: 60rem;
    }
  }

  &__textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 13rem;
    margin-top: 5rem;

    .about-us__title {
      font-size: 4rem;
      color: #383838;
      padding: 2rem 0;
    }

    .about-us__text {
      font-size: 1.5rem;
      color: #888888;
    }
  }

  @media (max-width: 996px) {
    flex-direction: column;
    height: 700px;

    &__img-container {
      width: 100%;
      margin-top: 1rem;
    }

    &__textbox {
      padding: 0px;
      margin-top: 1rem;
    }

    &__title {
      text-align: center;
    }
  }
}
