.contact-us {
  display: flex;
  margin: 0 12vh;
  padding: 5rem 0;
  justify-content: space-evenly;

  &::before {
    content: "";
    width: 75vw;
    height: 3px;
    background-color: $color-primary;
    position: absolute;
  }

  &__logo {
    margin-top: 3rem;
    height: 100px;
  }

  .contact-us__menu {
    margin-top: 3rem;

    .contact__title {
      font-size: 1.8rem;
      color: #111111;
    }

    .contact__links {
      padding-top: 2rem;
      font-size: 1.5rem;

      .contact__link {
        padding: 0.3rem 0;

        a:hover {
          color: $color-primary;
        }
      }
    }
  }
}
